@font-face {
    font-family: 'Fraunces';
    src: url('fonts/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

/* Mobile */

@media screen and (max-width: 830px) {
    body {
        background-color: #F2EBE3;
    }

    h1 {
        font-family: 'Fraunces', serif;
        line-height: 33px;
        font-size: 32px;
    }

    p {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 500;
    }

    .dark-blue-text {
        color: #1A2428;
    }

    .dark-grayish-blue-text {
        color: #6C7289;
    }

    .image-desktop {
        display: none;
    }

    .image-mobile {
        width: 100%;
        border-radius: 12px 12px 0 0;
        
    }

    .product-container {        
        background-color: white;
        margin: 28px 16px; 
        border-radius: 12px;               
    }

    .product-detail {
        padding: 24px;                
    }

    .product-detail-title p{
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 5.2px;
        font-weight: 500;
        color: #6C7289;
        margin-bottom: 12px;
    }

    .product-detail-title h1 {
        margin-bottom: 14px;
    }

    .product-detail-description p{
        line-height: 23px;
        margin-bottom: 24px;
        font-weight: 500;
    }

    .price {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .price h1 {
        color: #3C8067;
        margin-right: 20px;
    }

    .discount {
        text-decoration: line-through;
    }

    .primary-button {
        padding: 16px;
        min-width: 100%;
        background-color: #3C8067;
        font-family: montserrat;
        font-weight: 500;
        font-size: 14px;        
        border: none;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        transition: 0.3s;
    }

    .primary-button:hover {
        cursor: pointer;
        background-color: #1A4031;
    }

    .primary-button img {
        padding-right: 12px;
    }

    footer {
        color: rgb(48,59,90) ;
        font-size: 14px;
        display: flex;
        justify-content: center;
        margin-bottom: 32px;
        padding: 0px 16px;
    }

    footer a {
        color:  rgb(48,59,90);
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    footer .div-line {
        padding: 0px 8px;
    }


}